@font-face {
    font-family: ACLine;
    src:    url('../fonts/ACLine.eot') format('embedded-opentype'),
            url('../fonts/ACLine.woff2') format('woff2'),
            url('../fonts/ACLine.woff') format('woff'),
            url('../fonts/ACLine.ttf') format('truetype'),
            url('../fonts/ACLine.svg#ACLine') format('svg');
}
@font-face {
    font-family: SegoeUIRegular;
    src:    url('../fonts/SegoeUIRegular.eot') format('embedded-opentype'),
            url('../fonts/SegoeUIRegular.woff') format('woff'),
            url('../fonts/SegoeUIRegular.ttf') format('truetype');
}
html,body{
	max-width: 1300px;
    padding:0;
    margin:0 auto;
}

.news{margin-top: 10px;}
.top-vac {margin-top: 10px;}
.top-vac p {margin-bottom:0px;}

.tv-news-list li img{
    width: 100%;
    border: 1px solid #f68c06;
	margin-bottom:10px;
	margin-top:5px;
}

.tv-news-list li img[src="#"] {
    display: none;
}

		/*----------------------------------------------------------------------------------------------*/
.tv-news-footer img{
    width:100%;
}

.tv-news-header1 {
	float:left;
	margin:6px 0 0 0;
}
.tv-news-header2 {
	color:#f68c06; 
	font-family:ACLine; 
	font-size:32px;
	font-weight:bold;
    text-align:center;
}
.close-bt{
	height:18px;
	width:18px;
	border-radius:2px;
	background-color:#faeae5; 
	float:right;
	text-align:center;
	line-height:14px;
	margin-right:13px;
	color:#cc3300;
}

.add2top p{
	font-family: SegoeUIRegular;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
    color: #cc3300;
    margin-bottom: 10px;
}

.add2top span{text-decoration: underline;}
.add2top a:active {text-decoration:none;}
.add2top a:hover,.add2top  p:hover {text-decoration:none; color:#f68c06;}
.add2top a:hover,.add2top  p:visited {text-decoration:none;}
.add2top :-webkit-any-link {text-decoration: none;}

.tv-news-list{
    height: 520px;
    font-family: SegoeUIRegular;
	color: #cc3300;
    overflow-y:scroll;
}

.tv-news-list ul {
    list-style-position:inside;
    padding:5px;
	color:#f68c06; 
	font-size: 18px;	
	line-height:16px;
}

.tv-news-date{
    font-size: 11px;
    color:grey;
	margin-left: -15px;
	line-height:normal;
}

.tvl-position {
    font-weight: bold;
    text-decoration: underline;
    color:black;
	font-size: 14px;
	line-height:normal;
}

.tvl-salary {
    color:grey;
    padding-bottom:10px;
	font-size: 14px;
	line-height:normal;
}

.tv-link:hover  p{color:#f68c06;}
.tv-link:-webkit-any-link {text-decoration: none;}

.cool-scroll::-webkit-scrollbar{
    width: 8px;
    background: #ddd;
}
.cool-scroll::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 4px;
}
.cool-scroll::-webkit-scrollbar-thumb{
    background: #888 url(../image/Thumb.png) no-repeat;
    background-position: center center;
}

			/*******Header tabs *********/
.header-tabs{
	margin-bottom:-1px;
}
.header-tabs>ul>li {
	padding-bottom:0;
	font-family: SegoeUIRegular;
	font-size: 18px;
}
.header-tabs img {
	margin-right:10px;
}

.header-tabs>ul>li.active>a, .header-tabs>ul>li.active>a:focus, .header-tabs>ul>li.active>a:hover {
	color:#999999;
}

.header-tabs>ul>li>a, .header-tabs>ul>li>a:focus, .header-tabs>ul>li>a:hover {
	color:#666666;
}

.header-tabs>ul>li>a {
	border: 1px solid #dddddd;
	margin-right:-1px;
	height:50px;
}

.padding-top-div{
	padding-top:20px;
	margin:0;
}

.add-list-group {
	font-family: "SegoeUIRegular";
	float: right;
	padding-top:10px;
}
.list-inline {
	padding-left: 0px;
	margin-left: 0px;
	margin-bottom:0;
}

.list-unstyled_plus {
	margin-right: 7px;
}

.add {
	font-size: 18px;
	color: #999999;
	font-family: "SegoeUIRegular";
}
.glyphicon-plus {
	font-size: 18px;
	color: #999999;
	font-family: "SegoeUIRegular";
}

.list-unstyled_vacansy a {
	color:  #F68C06;
	font-family: "SegoeUIRegular";
	text-decoration: underline;
	font-size: 18px;
}

.list-unstyled_company a {
	color:  #F68C06;
	font-family: "SegoeUIRegular";
	text-decoration: underline;
	font-size: 18px;
}
.list-unstyled_resume a {
	color:  #F68C06;
	font-family: "SegoeUIRegular";
	text-decoration: underline;
	font-size: 18px;
}
			/****** Vacancy*******/
.section h3 {
	color: #4F4F4F;
	font-size: 24px; 
	font-family: SegoeUIRegular;
	margin-top: 0;
	margin-bottom: 0;
}

.section h4 {
	color: #CD2626; 
	font-size: 18px; 
	font-family: SegoeUIRegular;
}

.section p {
	color: #696969; 
	font-size: 18px; 
	font-family: SegoeUIRegular;
	margin: 0;
	line-height: normal;
}


.text-left{
	text-align:justify;
}

.below_section  {
	color: #A6A6A6;
	font-size: 18px;
	text-decoration: none;
	font-family: SegoeUIRegular;
	padding-right: 15px;
	line-height: normal;
}

.below_section i {
	color: #CD2626; 
	font-size: 28px;
	line-height: normal;
	
}
.below_section span:nth-child(3) {
	color: #CD2626; 
	font-size: 22px;
	padding-right: 15px;
}
.below_section i:nth-child(4) {
	color: grey; 
	font-size: 28px;
	line-height: normal;

}
.below_section span:nth-child(5) {
	color: grey; 
	font-size: 20px;
}
.town {
	color: gray;
	font-size: 18px;
	font-family: SegoeUIRegular;
}
.drop {
	color: orange;
	font-size: 18px;
	font-family: SegoeUIRegular;
	padding: 0 10px;
}
.data {
	color: grey;
	font-size: 18px;
	font-family: SegoeUIRegular;
}

hr {
	border-top: 1px solid darkgrey;
}

.bottom-line4row {
	border-bottom: 1px solid #dddddd;
	margin-bottom:10px;
	width:100%;
}
		/********FOOTER********/

.footer{
	font-family: SegoeUIRegular;
	overflow:hidden;
}
.down-footer img{
	margin-left: 10px;
}
.footer ul, .footer  li{
	list-style-type:none;
	padding-bottom: 10px;
}

.footer a{
	color: #9d9d9d;
}

.container-footer {
	background-color: #3f3e3e;
	padding: 20px 0;
	margin-top: 30px;
	color: #9d9d9d; 
	font-size: 18px;
}
.container-footer i{
	color: #d17c11;
	margin-right: 15px;
}

.inner-footer{
	float: left;
}
.inner-footer img{
	margin-right: 10px;
}

.inner-footer hr{
	margin:0px 0px 20px 0px;
}

.down-footer{

	background-color: #8f8f8f;
	font-size: 14px;
	padding: 20px;
}

.li_header{
	margin: 30px 0px 20px 0px;
	padding: 0px;
	font-family: ACLine;
	font-size:24px;
	color: white;
	font-weight: bold;
}

.li_header img{
	margin-right: 10px;
}

.footer a:hover{
	color: #d17c11;
	text-decoration: none;
}

.footer :link{
	text-decoration: none;
}

/*  List selected */
.list-section{
    margin-top:20px;
	margin-bottom:10px;
	margin-left:0;
	width:100%;
}
span.multiselect-selected-text{
    float:left;
    color:#666666;
    font-size: 18px;
}
b.caret{
    float:right;
    margin-top: 10px;
}
div.wrapper-list{
	padding:0;
	margin-top:25px;
}
div.wrapper-list-select-box, div.wrapper-list-label-box{
	padding:0;
}

div.wrapper-list-label-box{
	margin-bottom:5px;
	padding-left:10px;  
}
.wrapper-list-label-box label{
	color:#f68c06;
	font-size:18px;
	padding-left:10px;
}


.multiselect-container>li.active>a,
.multiselect-container>li.active>a:hover{		
	background-color:#f68c06;
}
.dropdown-menu::-webkit-scrollbar {
    width: 8px;
    background: #ddd;
}
.dropdown-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 4px; 
}

.dropdown-menu::-webkit-scrollbar-thumb {
    background: #888 url(../image/Thumb.png) no-repeat;
    background-position: center center; 
}
.dropdown-menu{
	width: 100%;
}


             /* Hidden_Likes */

.likes {
	visibility: hidden;
	display: flex;
}

            /* change text, links  */


.links :-webkit-any-link {
	text-decoration: none;
}

.links:hover h3 {
	display: block;
	color: orange;
	text-decoration: none;
}

.links:hover h4 {
	display: block;
	color: orange;
	text-decoration: none;
}

.links:hover a {
	display: block;
	color: orange;
	text-decoration: none;
}
.links:hover p {
	display: block;
	color: orange;
	text-decoration: none;
}

.links:hover span {
	display: block;
	color: orange;
	text-decoration: none;
}
.line {
	display: flex;
}

#list-selected-region span.multiselect-selected-text{
	width:90%;
	text-align:left;
	overflow:hidden;
}
#list-selected-indastry span.multiselect-selected-text, #list-selected-specialization span.multiselect-selected-text{
	width:95%;
	text-align:left;
	overflow:hidden;
}

.sort-box{
	margin-top:15px;
}
span.opsion-sort-box{
	color:#f68c06;
	text-decoration:underline;
	font-weight: normal;
}
span.label-sort-box{
	color: #666666; 
	font-family: SegoeUIRegular;
	font-size:12px;
	margin: 0;
}
hr.line-sort-box {
	border-top: 1px solid #cccccc;
	margin-top: 0;
}	
span.opsion-sort-box:hover{
	color:#e8641b;
}

#from, #to{
	width:80px;
}

.hasDatepicker{
	color:#f68c06;
	font-family: SegoeUIRegular;
	font-size:12px;
}

.plus-dropdn{
	height:50px;
	padding:0;
	margin-bottom:-1px;
	float:right;
}
.plus-dropdn span{
	color: #cccccc; 
	font-size:36px;
	line-height:36px;
}
.plus-dropdn-h{
	color:#f68c06;
	padding:0 10px;
	font-weight:bold;	
}

.main-tab-div{
	min-height:700px;
}
