/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
/.idea
/.idea/misc.xml
/public/image/resume/4.jpeg
/public/image/vacancy/.jpeg
/public/image/vacancy/5.jpeg
/public/image/vacancy/aaa.jpeg
/.idea/RobotaMolodi.iml
/.idea/scopes/scope_settings.xml
