/vendor
/node_modules
Homestead.yaml
Homestead.json
composer.json
composer.lock
rmi.sql
Vagrantfile
.env
/.idea/misc.xml
/public/image/resume/4.jpeg
/public/image/vacancy/.jpeg
/public/image/vacancy/5.jpeg
/public/image/vacancy/aaa.jpeg
/.idea/*
/public/image/uploads/*
/public/uploads/*
/public/image/company/*
/package-lock.json
/config/app.php
/public/storage
/storage/*key
/vendor
/storage/framework
/storage/logs
/storage