/vendor
/node_modules
Homestead.yaml
Homestead.json
rmi.sql
Vagrantfile
.env
/.idea/misc.xml
/public/image/resume/4.jpeg
/public/image/vacancy/.jpeg
/public/image/vacancy/5.jpeg
/public/image/vacancy/aaa.jpeg
/.idea/*
