/*Breadcrumb*/
ol.breadcrumb{
    margin-bottom: 0px;
    padding-top: 0px;
    background-color: rgb(255, 255, 255);
}
.breadcrumb a{
    color: #797979;
}
.breadcrumb a:hover{
    color: #f68c06;
}
.breadcrumb a:focus{
    color: #f26522;
}
/*End Breadcrumb*/