a{
    text-decoration: none;
}

/** Breadcrumb **/
.newsListBreadcrumb .breadcrumb {
    margin-top: 35px;
    background: #ffffff;
    padding-left: 0px;
}

.newsListBreadcrumb .breadcrumb li a {
    font-size: 11px;
    color: #999999;
    text-decoration: underline;
}

.newsListBreadcrumb .breadcrumb li.active {
    font-size: 11px;
    color: #999999;
    text-decoration: none;
}

.breadcrumb > li + li:before {
    content: "»";
    padding: 0 5px;
    color: #999999;
    padding-right: 10px
}
.links:hover{
    display: block;
    color: orange;
    text-decoration: none;
}

.links:hover h3 {
    display: block;
    color: orange;
    text-decoration: none;
}

.links :-webkit-any-link{
    text-decoration: none;
}

.sectionNewsList h3 {
    color: #4F4F4F;
    font-size: 24px;
    font-family: SegoeUIRegular;
    padding-bottom: 0px;
    margin-top:5px;
    word-wrap: break-word;
}

.sectionNewsList .picture{
    width:60%;
    margin-top:20px;
}

hr {
    border-top: 1px solid darkgrey;
}

.sectionNewsList .read-next{
    text-align: right;
    color: royalblue;
    font-size: 18px;
    font-family: SegoeUIRegular;
    margin-top: 5px;
}

.sectionNewsList h4 {
    color: #4F4F4F;
    font-weight: bold;
    font-size: 16px;
    font-family: SegoeUIRegular;
    display: inline;
}

.sectionNewsList .drop {
    color: orange;
    font-size: 18px;
    padding: 0 10px;
}

.sectionNewsList span{
    color: #696969;
    font-size: 16px;
    font-family: SegoeUIRegular;
}