*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#f0f0f0;
}

li {
    list-style-type: none; /* Убираем маркеры */
}
a:hover{
    text-decoration: none;
}

.logo>img{
    margin: 20px 0 20px 20px;

}
.colorBlack,header{
    background-color: #3f3e3e;
    width: 100%;
    color: #8c8c8c;
}
.menu>a>div>div>li>p{
    text-align: center;
    color: black;
    font-size: 20px;
    margin-bottom: 0px;
}
.menu>a>div:hover{
    background-color: #e0e9d7;
    width: 100%;
    border-left: 10px solid darkorange;
}
.menu a > .active {
    background-color: #cbd4bf;
}

.dropdown-toggle {
    margin-top: 30px;
    background-color: #f68c06;
    border-color: #3F2B22;
    color: #000000;
}
.dropdown-toggle:hover{
    background-color: #e8641b;
    color: black;
}
footer{
    width: 100%;
}
.foterStile{
    padding: 5px;
}
.anchor{
    margin-left: 0;
}
.contentAndmin{
    background: white;
}
.wrapper{
    min-height:100%;
    background: #f0fff0;
}
.createNews{
    margin-top: 30px;
}
.createNews a {
    margin: 10px;
}
.set-main:focus,
.set-main:active,
.set-main:hover{
    text-decoration: none;
    outline:none !important;
}

.optionBtn{
    width: 100%;
    margin-bottom: 8px;
}

.columnLeft{
    line-height: 60px;
    height: 60px;
}

.row .sidebar .columnLeft,
div.container-fluid,
.row .sidebar .columnLeft  .l12{
    padding: 0;
}

.row .sidebar .columnLeft .blockedContent{
    background-color: darkorange;
    font-size: 26px;
    margin: 0px;
}

.menu>a>.row{
    margin-bottom: 0;
}

.fa{
    color:darkorange;
    border: none;
    background:none;
    font-size:20px
}
.buttonNav{
    float: right;
    margin-top: 17px;
}

.crtNews{
    float: right;
}

header > nav{
    background-color: #e8f1df;
}

@media (max-width: 1366px ) {

    .columnLeft{

        line-height: 40px;
        height: 40px;
    }

    .row .sidebar .columnLeft .blockedContent {
        font-size: 16px;
    }

    .row .sidebar .columnLeft .blocked{
        margin-bottom: 5px;
        font-size: 16px;
    }

    .menu>a>div>div>li>p{
        text-align: center;
        font-size: 15px;
    }
}