.scrollup{
    width:64px;
    height:64px;
    opacity:0.5;
    position:fixed;
    bottom:0;
    right:1%;
    display:none;
    z-index:99999999;
    /*text-indent:-9999px;*/
    background: url('/image/arrow-up64.png') no-repeat;
    border: 0;
}

.scrollup:hover,
.scrollup:focus,
.scrollup:active{
    opacity:0.8;
    text-decoration: none;
    outline: none !important;
}

@media (min-width: 360px) and (max-width: 720px){
    .scrollup{
        width:64px;
        height:64px;
        opacity:0.5;
        position:fixed;
        bottom:65%;
        right:7%;
        display:none;
        z-index:99999999;
        background: url('/image/arrow-up32.png') no-repeat;
    }
}