#list-selected-region{
    padding: 0;
}
.list-section{
    margin-top:20px;
    margin-bottom:10px;
    margin-left:0;
    width:100%;
}
.list-section{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
div.wrapper-list{
    padding:0;
    margin-top:25px;
}
div.wrapper-list-select-box, div.wrapper-list-label-box{
    padding:0;
}

div.wrapper-list-label-box{
    margin-bottom:5px;
    padding-left:10px;
}
.wrapper-list-label-box label{
    color:#f68c06;
    font-size:18px;
    padding-left:10px;
}
.multiselect-container.dropdown-menu{
    width: 100%;
}
.form-control.multiselect-search{
    height: 44px;
}