.position_resume{
    font-size: 24px;
    font-family: SegoeUI;
    margin: 0;
    color: #f26522;
}
/*#datAnnoyingSizes .panel-description-resume*/
#resImg{
    border-radius: 10px;
}
.price_resume{
    color: #CD2626;
    font-size: 18px;
    font-weight: bold;
}

.name_resume{
    font-size: 24px;
    font-family: SegoeUI;
    color: #797979;
    margin: 0;
}
.phone-nomber-resume{
    font-size: 18px;
    color: #797979;
    font-family: SegoeUI;
}

.description-one-resume{
    font-weight: bold;
    font-size: 24px;
    font-family: SegoeUI;
    color: #797979;
}
.description-footer-resume{
    font-family: SegoeUI;
    font-size: 14px;
    color: #797979;
}
.writeOnPost{
    border:1px solid #f68c06;
    border-radius: 5px;
    background-color: #f68c06;
    height: 44px;
    width: 250px;
    text-align: center;
    line-height: 44px;
    cursor: pointer;
    font-family: SegoeUI;
    display: inline-block;
    float: right;
}

#vrBlock a{
    text-decoration: none;
}

.orangColor-resume{
    color: #f26522;
}

.orangColor-resume:hover {
    color: #f68c06;
}
.orangColor-resume-name{
    color: #797979;
}
.orangColor-resume-name:hover{
    color: #f68c06;
}
#writeOnPost{
    color: white;
}

.cityTime_resume{
    font-size: 20px;
    color:#f68c06;
    font-family: SegoeUI;
    display: inline-block;
    margin-top: 10px;
}

.button-city-time{
    display: inline-block;
    width: 100%;
}
#yellowCircle-resume
{
    color: #f48952;
    font-size: 24px;
}