body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
}
.container
{
	max-width: 760px;
	margin-top: 20px;
}
.hidedPanel
{
    display:none;
}
.shownPanel
{
    display:block;
}
#main
{
	display: inline;
	min-height: 350px;
}
#phName
{
	border-radius: 7px;
	clear: both;
	font-size: 14pt;
	height: 44px;
	margin: 1px;
	padding: 1px 1px 1px 1px;
    font-style: italic;
}
#phName:hover
{
	box-shadow: 0 0 2px 2px rgba(221, 221, 221, 1);
}
.phNameLocation
{
	margin-bottom: 5px;
}
#logo
{
	font-family: "Impact", "Tahoma", Arial, "Geneva", sans-serif;
	font-size: 24px;
}
#logo a
{
	color: 	#696969;
	text-decoration: none;
	text-transform: uppercase;
}

#text1
{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: 	#696969;
}
.textalign,#phName,#center,#content_tests,#tip,#buttons_table,#phName1,p,#start_button
{
	text-align: center;
}
strong
{
	font: helvetica;
	font-size: 17pt;
	text-align: justify;
}
#content{
	background-color: #ddd;
	border-radius: 5px;
}
span.left
{
	margin-left: -0.25em;
}
span.right
{
	margin-right: -0.25em;
}
.centr
{
	margin: 0 auto;
    width: 300px;
}
.buttonLocation
{
	margin: 0 auto;
}
.button
{
    width: 200px;
    height: 50px;
    border-radius: 5px;
}
.button:hover
{
	border: 1px solid #696969;
}
.button:active
{ 
	border: 1px solid #696969;
}
.buttonTest
{
    background: #696969;
    border-radius: 5px;
	color: white;
	font-weight: 700;
	width: 60px;
	height: 44px;
    text-decoration: none;
    transition: 0.2s;
}
.buttonTest:hover
{
    background: #696969;
}
.buttonTest:active
{
    background: #696969;
    box-shadow: 0 3px #696969 inset;
}
.buttonTest:disabled
{
	background: #696969;
}
#footer
{
	clear: both;
	height: 10px;
}
#menu_footer
{
	color: #7A2200;
	font-size: 11px;
	
}
#down_footer
{
	color: black;
	font-size: 12px;
	margin-bottom:10px;	
}
#header
{
	margin-left: 90px;
	font-weight: bold;	
}
#start_test
{
	font-size: 15px;
}
#content_tests
{
	font-size: 18px;
	color: #36648B;
	min-height: 80px;
}
#tests_title_tr
{
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
}
#tip
{
	padding: 20px 0;
}
#buttons_table
{
	margin: 20px 0 0 30px;	
}
td
{ 
    width: 80px;
}
.errorField
{
	border: 2px solid red;
	min-height: 20px;
}
.error
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: red;
}
img
{
	width: 100px;
	box-sizing: border-box;
}
img:hover
{
    opacity: 0.5;
}
input[type=radio]
{
    display: none;
}
.border
{
	border: 2px double black;
}
fieldset 
{
	padding: 0 0 20px 0;
    border: 1px solid #808080;
    border-radius:5px;
}
.fieldset1
{
	padding: 0 0 20px 0;
    border: 2px solid red;
    border-radius:5px;
}
legend 
{
	display: block;
	font-size: 21px;
	line-height: inherit;
	width: auto;
}
.legend
{
	display: block;
	font-size: 21px;
	line-height: inherit;
	width: auto;
	color: red;
}
#start_button
{
	margin-bottom: 20px;
}
@font-face 
{
    font-family: 'Roboto';
    src: url('fonts/Roboto-webfont.eot?') format('embedded-opentype');
}
@font-face 
{
    font-family: 'Roboto';
    src: url('fonts/Roboto-Medium-webfont.eot?') format('eot'), 
         url('fonts/Roboto-Medium-webfont.svg#svgFontName') format('svg');
}
p 
{
	font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}
.b
{
	height: 86px;
	width: 106px;
	margin: 0 10px;
}
.errorField
{
	border-color: red;
	color:red;
}
#phName1
{
	color: red;
    border: 2px solid red;
}

.b p
{
	height: 40px;
	font-weight: 600;
	font-size: 12px;
}
div .tit_b
{
	height: 40px;
}







