@font-face{
    -ms-font-family: "SegoeUI";
    -ms-src: url('/public/fonts/SegoeUIRegular.ttf') format('truetype');
    font-family: "SegoeUI";
    src: url('/public/fonts/SegoeUIRegular.ttf') format('truetype');
}
* {
    margin: 0;
    font-family: "SegoeUI";
}
.nologo{  text-align: center; color: #f48952; margin-top: 40px  }
div.case{
    display: block;
    width: 134px;
    height:30px;
    clear:both;
}
i.fa{
    color:  #f68c06;
    width: 24px;
    height: 21px;
    padding-top: 5px;
    float: left;
    padding-left: 20px;
    font-size: 25px;
    display: block;
}
div.consult {
    padding-top: 3px;
    width: 84px;
    height: 25px;
    display: flex;
    margin-left: 17px;
    float: left;
    text-align: justify;
}
.consult a {
    font-family: 'Segoe UI';
    color:  #f68c06;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    text-align: left;
    line-height: 11px;
    text-align: justify;
    margin-left: 17px;
}
.share {
    font-family: 'Segoe UI';
    color:  #cc0000;
    font-size: 14.93px;
    font-weight: 600;
    text-align: left;
    display:block;
    margin-top:10px;
    margin-left: 17px;
}
div.social {
    padding-top: 2px;
    height:30px;
    text-align: justify-all;
    display:block;
    margin-left: 17px;
}
.social i {
    color: #cccccc;
    font-size: 25px;
    padding-top: 0px;
    padding-left: 0px;
}
i.fa {
    font-size: 25px;
    display: block;
}
.social i:hover {
    color: orange;
}
i.fa-google-plus-square {
    padding-left: 5px;
}
.orangeLinks{
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #f68c06;
    word-break: break-all;
}
.greyLinks{
    padding: 0;
    margin: 0;
    font-size: 17px;
    color: #797979;
    word-break: break-all;
    font-weight: 600;
}
.panel-headings{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0px;
    padding-left: 0px;
    border-bottom-width: 0px;
}
.seleryvacancy{
    color: #cc0000;
}
.text_vac{
    padding: 0;
    margin: 0;
    color: #797979;
    font-size: 16px;
}
.otstup1{
    margin-top: 5px;
}
.anagraph{
    /*color: #f68c06;*/
    font-size: 16px;
    font-weight: 700;
}
.text_data{
    color: #777777;
}
#yellowCirclev{
    color: #f68c06;
    /*font-size: 27px;*/
    font-weight: 900;
}

/*                               end head show.vacancy                     */

.list {
    margin-left: 0px;
}
.list-inline {
    padding-left: 0px;
    margin-top: 20px;
    list-style-type: none;
    color: darkorange;
    margin-bottom: 10px;
    text-align: justify;

}

.list-inline > li {
    font-size: 18px;
    padding: 1px;
    margin-left: 0px;
    padding-right: 30px;
}

.list-inline i{
    margin-left: 10px;
    text-decoration: none;
}

button.btn.btn-link {
    border: 0;
    outline: none;
    padding-left: 25px;
    color: #f68c06;
}

.btn-link button{
    padding-left: 1px;
    color: darkorange;
    text-decoration: underline;
    --webkit--font-size: 20px;
    border: 0;
    outline: none;
}
.right_colomn.btn {
    font-size: 20px;
    color: darkorange;
    font-family: "SegoeUI";
}
.btn:hover {
    color: darkorange;
}

.right_colomn input{
    /*background-color: #F68C06;*/
    /*color: white;*/
    font-size: 16px;
    border-radius: 12px;
    border:0;
    height: 36px;
    padding: 5px;
    margin: 5px;
    text-transform: uppercase;
}

ul{
    padding:0;
    list-style: square;
    list-style-position: inside;
}

li{
    color: #f68c06;
}

li span{
    color: #797979;
}

.bold_vacancy{
    font-weight: 600;
}

@media(max-width:768px){
    .left_colomn{
        width:100%;
        display:block;
    }

    .right_colomn{
        margin-left:0;
    }
}

/*block of link*/

.right_vac #send_URL_vacancy{
    display: none;
}


#send_file_vacancy{
    display: none;
}

#send_resume_vacancy{
    display: none;
}

form.URL_vacancy {
    width: 100%;
}

.right_colomn input.form-control {
    margin: 0;
    margin-top: 5px;
    border: 1px solid darkorange;
    border-radius: 3px;
}

.URL_vacancy span{
    font-size: 18px;
    color: grey;
    font-family: "SegoeUI";
}

.send {
    margin-top: 20px;
    float: right;
}

.sent_file_button{
    background-color: darkorange;
    color: white;
    border: 1px solid darkorange;
    border-radius: 7px;
    font-size: 20px;
    font-family: "SegoeUI";
    float: right;
    height: 28px
}

#choose_file{
    float: left;
}

p.dont_choose{
    margin-left: 10px;
    float: left;
    margin-top: 3px;
}

.file_upload{
    position: relative;
    overflow: hidden;
    width: 288px;
    padding-left:145px;
    margin-left:-145px;
    float: left;
    cursor: pointer;
}

.file_upload input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(2);
    letter-spacing: 1em;     /* IE 9 fix */
    -ms-transform: scale(2); /* IE 9 fix */
    opacity: 0;
    cursor: pointer;
}