.nologo{  text-align: center; color: #f48952; margin-top: 40px  }

.case-img{
    padding-left: 0px;
    padding-right: 0px;
}
.share #share-vacancy{
    margin: 0px;
}
i.fa vacancy{
    color:  #f68c06;
    width: 24px;
    height: 21px;
    padding-top: 5px;
    float: left;
    padding-left: 20px;
    font-size: 25px;
    display: block;
}
div.consult {
    width: 84px;
    height: 25px;
    display: flex;
    float: left;
    text-align: justify;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
.consult a {
    font-family: 'Segoe UI';
    color:  #f68c06;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    line-height: 11px;
    text-align: justify;
    margin-left: 10px;
}
.share {
    font-family: 'Segoe UI';
    color:  #cc0000;
    font-size: 14.93px;
    font-weight: 600;
    text-align: left;
    display:block;
    margin-top:10px;
    margin-left: 17px;
}
div.social {
    padding-top: 2px;
    height:30px;
    text-align: justify-all;
    display:block;
    margin-left: 17px;
}
.social i {
    color: #cccccc;
    font-size: 25px;
    padding-top: 0px;
    padding-left: 0px;
}
i.fa vacancy{
    font-size: 25px;
    display: block;
}
.social i:hover {
    color: orange;
}
i.fa-google-plus-square {
    padding-left: 5px;
}
.orangeLinks{
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #f68c06;
    word-break: break-all;
}
.orangeLinks:hover{
    color: #f26522;
}
.orangeLinks:focus{
    color: #f26522;
}
.greyLinks{
    padding: 0;
    margin: 0;
    font-size: 17px;
    color: #797979;
    word-break: break-all;
    font-weight: 600;
}
.greyLinks:hover{
    color: #f26522;
}
.greyLinks:focus{
    color: #f26522;
}
.panel-headings{
    padding-top: 5px;
    padding-right: 0px;
    padding-left: 0px;
    border-bottom-width: 0px;
}
.seleryvacancy{
    color: #cc0000;
}
.text_vac{
    font-family: 'Segoe UI';
    padding: 0;
    margin: 0;
    color: #6e6e6e;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 400;
}
.descriptionStyle{
    color: #777777;
}

.anagraph{
    font-family: 'Segoe UI';
    color: #f68c06;
    font-size: 16px;
    font-weight: 600;
}
.text_data{
    color: #777777;
    list-style-type: none;
    padding:17px;
}
#yellowCircleVacancy{
    color: #777777;
    font-size: 16px;
}

#yellowCircleVacancy span{
    font-weight: 900;
}

/*                               end head show.vacancy                     */

.list {
    margin-left: 0px;
}
.list-inline {
    padding-left: 0px;
    margin-top: 20px;
    list-style-type: none;
    color: darkorange;
    margin-bottom: 10px;
    text-align: justify;

}

.list-inline > li {
    font-size: 18px;
    padding: 1px;
    margin-left: 0px;
    padding-right: 30px;
}

.list-inline i{
    margin-left: 10px;
    text-decoration: none;
}

button.btn.btn-link {
    border: 0;
    outline: none;
    padding-left: 25px;
    color: #f68c06;
}

.btn-link button{
    padding-left: 1px;
    color: darkorange;
    text-decoration: underline;
    --webkit--font-size: 20px;
    border: 0;
    outline: none;
}
.right-colomn-vacancy.btn {
    font-size: 20px;
    color: darkorange;
    font-family: "SegoeUI";
}
.btn:hover {
    color: darkorange;
}

.right-colomn-vacancy input{
    /*background-color: #F68C06;*/
    /*color: white;*/
    /*font-size: 16px;*/
    /*border-radius: 12px;*/
    height: 36px;
    padding: 5px;
    margin-bottom: 9px;
    /*text-transform: uppercase;*/
}

ul{
    padding:0;
    list-style: square;
    list-style-position: inside;
}

li span{
    color: #797979;
    font-size:16px;
}

.bold_vacancy{
    font-weight: 600;
}

@media(max-width:768px){
    .left_colomn{
        width:100%;
        display:block;
    }

    .right-colomn-vacancy{
        margin-left:0;
    }
}

/*block of link*/

.right-vac #send-URL-vacancy{
    display: none;
}


#send-file-vacancy{
    display: none;
}

#send-resume-vacancy{
    display: none;
}

form.URL_vacancy {
    width: 100%;
}
.url-text-vac{
    width: 100%;
}
.url-input-vac{
    width: 100%;
    background-color: white;
    border: 1px solid #f26522;
}
input.btn.btn-warning.btn-send{
    background-color: #f68c06;
    align: right;
}
input.btn.btn-warning.btn-send:hover{
    background-color:#f26522;
}
.open-file-vac{
    color: white;
    border-radius: 3px;
}

.right-colomn-vacancy input.form-control {
    /*margin: 0;*/
    /*margin-top: 5px;*/
    border: 2px solid #f26522;
    border-radius: 3px;
}
.right-colomn-vacancy input.form-control:hover{
    border: 2px solid #66afe9;
}

.URL_vacancy span{
    font-size: 18px;
    color: grey;
    font-family: "SegoeUI";
}

.send {
    margin-top: 20px;
    float: right;
}

.sent_file_button{
    background-color: darkorange;
    color: white;
    border: 1px solid darkorange;
    border-radius: 7px;
    font-size: 20px;
    float: right;
    height: 28px
}

#choose_file{
    float: left;
}

p.dont_choose{
    margin-left: 10px;
    float: left;
    margin-top: 3px;
}

.file_upload{
    position: relative;
    overflow: hidden;
    width: 288px;
    padding-left:145px;
    margin-left:-145px;
    float: left;
    cursor: pointer;
}

.file_upload input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(2);
    letter-spacing: 1em;     /* IE 9 fix */
    -ms-transform: scale(2); /* IE 9 fix */
    opacity: 0;
    cursor: pointer;
}
input{
    background-color: #F68C06;
    color: white;
    font-size: 16px;
    border-radius: 12px;
    border:0;
    height: 36px;
    padding: 5px;
    margin: 5px;
    text-transform: uppercase;
}

.projectAbout {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}