.orangColor-resume-name{
    color: #797979;
    text-decoration: none;
}
.orangColor-resume-name:hover{
    color: #f68c06;
}
.position_resume{
    font-size: 24px;
    font-family: SegoeUI;
    margin: 0;
    color: #f26522;
}
#vrBlock a{
    text-decoration: none;
}
.price_resume{
    color: #CD2626;
    font-size: 18px;
    font-weight: bold;
}
.name_resume{
    font-size: 24px;
    font-family: SegoeUI;
    color: #797979;
    margin: 0;
}

.orangColor-resume{
    color: #f26522;
}

.orangColor-resume:hover {
    color: #f68c06;
}
.orangColor-resume-name{
    color: #797979;
}
.orangColor-resume-name:hover{
    color: #f68c06;
}