.one-for-cabinet{
    margin-top: 15px;
}
.one-for-cabinet a{
    text-decoration: none;
}
hr.line-sort-box{
    border-top: 1px solid #cccccc;
    margin-top: 5px;
}
.orangColor-cabinet-name{
    color: #4F4F4F;
    font-size: 24px;
    font-family: SegoeUIRegular;
}
.orangColor-cabinet-name:hover,
.orangColor-cabinet-name:focus{
    color: #f68c06;
}
a.orangColor-cabinet-name{
    text-decoration: none;
}
.price-cabinet{
    color: #CD2626;
    font-size: 18px;
    font-weight: bold;
}
.description-cabinet{
    color: #696969;
    font-size: 16px;
    font-family: SegoeUIRegular;
    margin: 0;
    line-height: normal;
}
.name-cabinet{
    font-size: 18px;
    color: #f26522;
    font-family: SegoeUIRegular;
}
#yellowCircle-cabinet{
    color: orange;
    font-size: 18px;
    font-family: SegoeUIRegular;
    font-weight: 900;
    padding-right: 5px;
    padding-left: 5px;
}
.orangColor-cabinet{
    color: #f68c06;
}
.orangColor-cabinet span{
    text-decoration: underline;
}
a.orangColor-cabinet:focus,
a.orangColor-cabinet:hover
{
    text-decoration: none;
    color: #f68c06;
}
.orangColor-cabinet img{
    color: #f68c06;
    width: 16px;
}
.nologo-cabinet{
    text-align: center;
    color: #f48952;
    margin-top: 40px;
    text-decoration: none;
}
.cabinet-buttons .list-inline a:hover,
.cabinet-buttons .list-inline a:focus{
    text-decoration: underline;
    color: #F68C06;
    font-size: 18px;
    /*font-family: "SegoeUIRegular";*/

}