.paginatorr{
    padding-left:15px;
    height: 30px;
}

.paginatorr hr{
    color: #696969;
    margin-bottom: 10px;
    margin-top: 0;
}

ul.pagination>li.color>a{
    color: #696969;
}

/*----paginator---*/
ul.pagination a{
    border: 1px solid #CBCBCB;
    margin: 0 3px;
    height: 30px;
    width: 30px;
    border-radius: 0;
    text-align: center;
    padding: 0;
    line-height: 30px;
}

ul.pagination>li.activation a{
    background-color: #CBCBCB;
}

ul.pagination>li>a:hover{
    background-color: orange;
    cursor: pointer;
    color: white;
    border: 1px solid #ff5200;
}

ul.pagination a{
    color:black;
}

ul.pagination{
    margin: 0;
}

.paginer-block{
    text-align: right;
    /*padding: 0;*/
    height: 30px;
    display: inline-block;
    float: right;
}

/*--count paginate*/
.paginatorr>div.sort-by{
    display: inline;
    line-height: 30px;
    text-align: center;
    height: 30px;
}

.pag-block-by{
    height: 30px;
    width: 30px;
    display: inline-block;
    border: 1px solid #CBCBCB;
}

.pag-block-by:hover{
    background-color: orange;
    cursor: pointer;
    color: white;
    border: 1px solid #ff5200;
}

.pag-block:hover{
    background-color: orange;
    cursor: pointer;
    color: white;
    border: 1px solid #ff5200;
}

.pag-text{
    color: #696969;
    font-size: 16px;
    font-family: SegoeUIRegular;
    line-height: 30px;
    display: inline-block;
}

.active-pag-block{
    background-color: #CBCBCB;
}