span.label-sort-box {
    color: #666666;
    font-family: SegoeUIRegular;
    font-size: 12px;
}

span.opsion-sort-box {
    color: #f68c06;
    text-decoration: underline;
    font-weight: normal;
}

span.opsion-sort-box:hover {
    color: #e8641b;
    cursor: pointer;
}

.block-datepicker label {
    width: 19px;
}

.sort-date {
    padding: 0;
}

.sort-box {
    padding: 0;
    margin: 0;
}

.sort-filter {
    padding-top: 5px;
    font-size: 12px;
    text-align: center;
}

.input-sort-box {
    padding: 0;
}

#close-all-filters {
    padding: 0;
    color: orange;
    text-decoration: underline;
    font-weight: normal;
    font-size: 14px;
}