.sort-box{
    margin-top:15px;
}

span.label-sort-box{
    color: #666666;
    font-family: SegoeUIRegular;
    font-size:12px;
    margin: 0;
}

span.opsion-sort-box{
    color:#f68c06;
    text-decoration:underline;
    font-weight: normal;
}

span.opsion-sort-box:hover{
    color:#e8641b;
    cursor:pointer;
}

#from, #to{
    width:80px;
}

hr.line-sort-box {
    border-top: 1px solid #cccccc;
    margin-top: 0;
}

.sort-rating, .sort-date{
    margin-top: 4px;
}