#vacImg{
    border-radius: 7px;
}
a:link{
    color: #f68c06;
    text-decoration: underline;
}
a:hover{
     color: red;
}

.limit-line-w{
    border-top: 1px solid darkgrey;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;

}
.imeg-consults-list{
    width: 136px;
    height: 136px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 2px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 0px;
    padding-right: 0px;

}
.nologo-consults-list{
    text-align: center;
    margin-bottom: 0px;
    margin-top: 25%;
}
.name-consultants-list{
    color: #333333;
    font-size: 17px;
    font-family: SegoeUIRegular;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
}
.description-companies{
    margin-left: 15px;
}
.content-consults-list{
    padding-left: 0px;
    padding-right: 0px;
}
.oll-consults-list{
    padding: 0;
}
.description-consultants{
    margin-left: 0px;
    font-size: 15px;
    color: #666666;
}
.consultations-cost{
    margin-left: 0px;
    font-size: 15px;
    color: #666666;
}
#value{
    color:red;
    font-size: 17px;
}
.container{
    padding-left: 0px;
    padding-right: 0px;
}
